# Copyright (c) 2026 Martin Schröder <info@swedishembedded.com>
# SPDX-License-Identifier: Apache-2.0

if BOARD_VEMU_CORTEX_M55_NPU

config BUILD_OUTPUT_BIN
	default n

choice NULL_POINTER_EXCEPTION_DETECTION
	bool
	default NULL_POINTER_EXCEPTION_DETECTION_NONE
endchoice

endif # BOARD_VEMU_CORTEX_M55_NPU
